@model Todo
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<form method="post" asp-controller="todos" asp-action="delete" asp-route-id="@Model.Id">
    <button class="btn btn-primary" type="submit" name="operation" value="abort">Abbrechen</button>
    <button type="submit">Löschen</button>
</form>